.editor {
  background-color: $light_gray;

  @media (min-width: $desktop-width) {
    margin: 0 130px;
  }
}

.editor__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 57px 20px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 80px;
  }
}

.editor__picture {
  width: 280px;
  height: 374px;
  margin-top: 20px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }
}

.tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr min-content;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.tools__button {
  border: none;
  background-color: $light_gray;
  padding: 0;
  width: 44px;
  height: 44px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
    margin: 0;
    margin-right: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;
    margin-right: 48px;
  }
}

.tools__intensity {
  position: relative;
  min-width: 240px;
  height: 2px;
  background-color: $dark_gray;
  margin: 39px 0 34px 0;
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  &::before {
    position: absolute;
    content: "";
    min-width: 320px;
    height: 1px;
    background-color: $opacity_gray;
    top: 34px;
    left: -40px;

    @media (min-width: $tablet-width) {
      min-width: 275px;
      left: -50px;
    }

    @media (min-width: $desktop-width) {
      min-width: 410px;
      left: -90px;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 200px;
    width: 202px;
    margin: 30px 0;
  }

  @media (min-width: $desktop-width) {
    width: 288px;

    &:last-child::before {
      display: none;
    }
  }
}

.tools__intensity.intensity-fill {
  & .tools__intensity--level {
    right: 160px;
  }
}

.tools__intensity.intensity-contrast {
  & .tools__intensity--level {
    right: 100px;
  }
}

.tools__intensity--level {
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid $basic_pink;
  background-color: $basic_white;
  border-radius: 50%;
  right: 35px;
  top: -6px;
}

.editor__buttons {
  position: relative;
  padding-top: 38px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 67px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.submit__button--send {
  border-color: $basic_pink;
  color: $basic_pink;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    min-width: 183px;
  }
}

.submit__button--can—Åel {
  border-color: $dark_gray;
  opacity: 0.1;

  @media (min-width: $desktop-width) {
    min-width: 183px;
  }
}
