.gallery__header.main-header {
  justify-content: center;
  top: -68px;

  @media (min-width: $tablet-width) {
    min-height: 440px;
    top: -108px;
  }

  @media (min-width: $desktop-width) {
    min-height: 394px;
  }
}

.gallery__title {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  line-height: normal;


  @media (min-width: $tablet-width) {
    font-size: 50px;
    padding-top: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 77px;
  }
}

.gallery__preview {
  padding: 0 35px;
  margin: -22px 0 51px 0;
  text-align: center;
  line-height: 29px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 76px;
    margin-top: -16px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 281px;
    margin-bottom: 88px;
  }
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0 20px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 53px;
    margin: 0 130px;
    margin-bottom: 61px;
    padding: 0;
  }
}

.card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    width: 48%;
    margin-bottom: 0;
    min-height: 451px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    min-height: 553px;
  }
}

.card-panorama {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    margin-bottom: 50px;
    width: 100%;
  }
}

.card-panorama .card__text {
  @media (min-width: $tablet-width) {
    margin: 0 20px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 15px 1fr;
    row-gap: 13px;

    & .card__comment {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      margin-bottom: 0;
    }

    & .card__like {
      padding-left: 0;
      padding-right: 33px;
      grid-row: 1 / 2;
      grid-column: 3 / -1;

      &::before {
        left: 95px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    min-height: 96px;
    margin: 0;
  }
}

.card__picture {
  display: block;
  width: 280px;
  height: 180px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-grow: 0;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.panorama {
  width: 320px;
  height: 137px;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 509px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 506px;
  }
}

.card__text {
  min-width: 280px;
  margin: 0 20px;
  padding: 19px 10px 18px 17px;
  background-color: $light_gray;
  text-align: left;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    min-width: 300px;
    padding: 23px 30px;
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    column-gap: 3px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 27px;
  }
}

.card__name {
  font-weight: 700;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.card__time {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }
}

.card__comment {
  margin: 0;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.card__like {
  margin-bottom: 26px;
  position: relative;
  padding-left: 31px;
  font-size: 12px;
  color: $basic_pink;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    background-image: url("../../img/heart.svg");
    background-repeat: no-repeat;
    left: 0;
    top: 3px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0;
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    &::before {
      right: 0;
      margin-left: auto;
    }
  }
}

.gallery__text {
  margin: 0;
  padding: 0 20px;
  margin-bottom: 45px;
  text-align: center;
  line-height: 27px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}
