.gallery__header.main-header {
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-height: 425px;

  }
}

.gallery__title {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.gallery__preview {
  padding: 0 35px;
  margin: -25px 0 40px 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.gallery__list {
  list-style: none;
  padding: 0;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
  }
}

.card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    width: 48%;
    margin-bottom: 0;
  }
}

.card-panorama {
  @media (min-width: $tablet-width) {
  grid-column: 1 / -1;
  margin-bottom: 50px;
  width: 100%;
  }
}

.card-panorama .card__text{
  @media (min-width: $tablet-width) {
    margin: 0 20px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 15px 1fr;
    row-gap: 13px;

    & .card__comment {
      grid-column: 1 / -1;
      grid-row: 2 / 3;
      margin-bottom: 0;
    }

    & .card__like {
      padding-left: 0;
      padding-right: 55px;

      &::before {
        left: 95px;
      }
    }
  }
}

.card__picture {
  width: 280px;
  height: 180px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-grow: 0;
  }
}

.panorama {
  width: 320px;
  height: 137px;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 509px;
  }
}

.card__text {
  min-width: 280px;
  margin: 0 20px;
  padding: 25px 10px 25px 17px;
  background-color: $light_gray;
  text-align: left;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    min-width: 300px;
    padding: 30px;
    margin: 0;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    column-gap: 3px;
  }
}

.card__name {
  font-weight: 700;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
  }
}

.card__time {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }
}

.card__comment {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.card__like {
  margin-bottom: 26px;
  position: relative;
  padding-left: 31px;
  font-size: 12px;
  color: $basic_pink;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 12px;
    background-image: url("../../img/heart.svg");
    background-repeat: no-repeat;
    left: 0;
    top: 3px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 0;
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    &::before {
      right: 0;
      margin-left: auto;
    }
  }
}

.gallery__text {
  margin: 0;
  padding: 0 20px;
  margin-bottom: 52px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 78px;
  }
}
