.button {
  display: block;
  border-radius: 29px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  min-width: 280px;
  padding: 15px;
  border: 3px solid $basic_white;
  margin-bottom: 12px;
}
