$dark_gray: #283645;
$basic_black: #000000;
$basic_white: #ffffff;
$light_gray: #f2f2f2;
$basic_pink: #d22856;
$opasity_black: rgba(000, 000, 000, 0.3);
$opacity_gray: rgba(40, 54, 69, 0.1);
$basic_green: #2aab6d;
$dark_green: #1c9b5e;
$background_gray: #1d2631;
$table_background: #e5e5e5;
$opacity_100: rgba($basic_white, 0);

//viewports

$mobile-only-width: 659px;
$tablet-width: 660px;
$desktop-width: 1200px;
$desktop-only-width: 1199px;
