img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  // color: $dark;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}

@media (max-width: $mobile-only-width) {
  .not__mobile {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .only__mobile {
    display: none;
  }
}

@media (max-width: $desktop-only-width) {
  .only-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .not__desktop {
    display: none;
  }
}

.main-header {
  // min-height: 462px;
  position: relative;
  top: -79px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $basic_white;
  background-color: $dark_gray;
  background-image: url("./../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  min-height: 236px;
  background-position: 50% 4%;

  @media (min-width: $tablet-width) {
    background-image: url("./../../img/back-tablet.jpg");
    min-height: 729px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    background-image: url("./../../img/back-desktop.jpg");
    top: -100px;
    min-height: 853px;
  }
}

.main-header--preview {
  margin: 0;
  padding: 0 20px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  margin-top: 36px;
  padding-top: 60px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }
}
