.main-nav {
  position: relative;
}

.main-nav__wrapper {
  position: absolute;
  background-color: $dark_gray;
  top: 50px;
  right: -19px;
  z-index: 2;
  width: 100vw;
  text-align: center;
}

.main-nav__toggle {
  padding: 0;
  position: relative;
  z-index: 2;
  top: 5px;
  right: 20px;
  display: block;
  width: 24px;
  height: 16px;
  background-color: inherit;
  cursor: pointer;
  border: none;
}

.main-nav__toggle--closed::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: $basic_white;
  top: 0;
  left: 0;
  box-shadow:
    0 8px 0 0 $basic_white,
    0 16px 0 0 $basic_white;
}

.main-nav__toggle--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: $basic_white;
    top: 5px;
    left: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-list__item {
  margin-bottom: 2px;
  width: 100%;
  box-shadow: 0 1px 0 0 $basic_black, 0 1px 0 0 rgba($basic_white, 0.15) inset;
}

.site-list__item a {
  padding: 16px;
  display: block;
  width: inherit;
  color: $basic_white;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
}
