.main-nav {
  width: 100%;
  position: absolute;
  top: 70px;
  z-index: 5;
  left: 0;

  @media (min-width: $tablet-width) {
    top: 108px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: 71%;
  }
}

.main-nav__wrapper--nojs {
  position: static;
  margin: 0 auto;
  text-align: center;

  & .main-nav__toggle {
    display: none;
  }

  & .site-list {
    min-width: 100%;
  }
}

.main-nav__wrapper {
  background-color: $dark_gray;
  z-index: 2;
  text-align: center;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.main-nav__toggle {
  padding: 0;
  position: absolute;
  z-index: 2;
  top: -49px;
  right: 20px;
  display: block;
  width: 50px;
  height: 24px;
  background-color: inherit;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    top: -67px;
  }

  &:hover::before {
    background-color: $basic_pink;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    background-color: inherit;
    top: -20px;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: $basic_white;
  top: 0;
  left: 0;
  box-shadow:
    0 10px 0 0 $basic_white,
    0 20px 0 0 $basic_white;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $basic_pink;
  box-shadow:
    0 10px 0 0 $basic_pink,
    0 20px 0 0 $basic_pink;
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: $basic_pink;
}

.main-nav__toggle:active::before,
.main-nav__toggle:active::after {
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 2px;
    background-color: $basic_white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.site-list__item {
  width: 100%;
  box-shadow: 0 1px 0 0 $basic_black, 0 1px 0 0 rgba($basic_white, 0.15) inset;

  @media (min-width: $desktop-width) {
    box-shadow: none;
    background-color: inherit;
  }
}

.site-list__item a {
  cursor: pointer;
  padding: 16px;
  display: block;
  width: inherit;
  color: $basic_white;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $desktop-width) {
    text-transform: none;
    font-weight: 400;

    &:hover {
      color: $basic_pink;
    }

    &:active {
      color: $basic_white;
      opacity: 0.3;
    }
  }
}

.site-list__item--active {
  position: relative;

  @media (min-width: $desktop-width) {
    ::before {
      content: "";
      position: absolute;
      width: 109px;
      height: 2px;
      background-color: $basic_white;
      bottom: 9px;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
}
