.page {
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0 auto;
  width: 320px;
}

.page-body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  width: 320px;
  // min-width: 320px;
  margin: 0 auto;
  color: $dark_gray;
}
