.page-header {
  background-color: rgba($basic_black, 0.3);
  color: $basic_white;
  min-width: 320px;
  min-height: 69px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.page-header--opened {
  background-color: $dark_gray;
}
