.page-header {
  position: relative;
  background-color: rgba($basic_black, 0.3);
  color: $basic_white;
  min-width: 320px;
  width: 100%;
  min-height: 69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.page-header__logo {
  width: 74px;
  height: 23px;
  margin: 20px 0;

  &:hover svg {
    opacity: 1;

    path {
      fill: $basic_pink;
    }
  }

  &:active svg {
    opacity: 0.3;

    path {
      fill: $basic_white;
    }
  }
}

.page-header--opened {
  background-color: $dark_gray;
}
