.page-footer {
  min-width: 320px;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 44px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin: 40px 0;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  margin-bottom: 41px;
  display: block;
  width: 145px;
  height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  &:hover svg {
    fill: $basic_pink;
  }

  &:active svg {
    fill: $dark_gray;
    opacity: 0.3;
  }
}

