.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__toggle--current {
  background-color: $basic_green;
}

.slider__item {
  display: none;
}

.slider__item--current {
  display: block;
}
