.contacts__wrapper {
  padding: 0 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.contacts__preview {
  font-size: 24px;
  font-weight: 300;
  line-height: 28.8px;
  margin-top: 50px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
  }
}

.contacts__text {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.contacts__phone {
  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.contacts__email {
  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}

.contacts__address {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.contacts__link {
  display: inline-block;
  color: $basic_pink;
  font-size: 24px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 31px;

  &:hover {
    color: $dark_gray;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  background-image: url("./../../img/map-mobile.jpg");
  background-size: contain;
  min-width: 320px;
  width: 100%;
  height: 200px;

  @media (min-width: $tablet-width) {
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    height: 502px;
  }
}

.map {
  width: 100%;
  height: 100%;
}
