.price__wrapper {
  background-color: $light_gray;
  padding-top: 83px;
  overflow: hidden;
  padding-bottom: 45px;
}

.price__list {
  padding: 0;
  list-style: none;
  display: flex;
  right: 320px;
  margin: 0 auto;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    right: 40px;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0;
  }
}

.price__item {
  border-radius: 1px 0 0 0;
  border: 1px solid $table_background;
  background: $basic_white;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 152px;
    width: 100%;
  }
}

.price__title {
  margin: 0;
  background-color: $dark_gray;
  color: $basic_white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    padding: 7px;
  }


  @media (min-width: $desktop-width) {
    font-size: 18px;
    padding: 16px;
  }
}

.price__value {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.options__list {
  list-style: none;
  padding: 0;
}

.options__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border: 1px solid $table_background;
  height: 60px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    height: 45px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }
}

@media (min-width: $tablet-width) {
  .not__mobile--item {
    justify-content: flex-start;
    padding: 10px;
  }

  .price__toggles.slider__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .not__mobile--item {
    font-size: 18px;
  }
}
