.reviews {
  position: relative;
  z-index: 3;
  background-color: $basic_white;
  padding: 50px 0;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__item {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 30px;
}

.reviews__author {
  display: inline-block;
  color: $basic_black;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
  }
}

.reviews__author--info {
  @media (min-width: $tablet-width) {
    order: 3;
    margin-bottom: 20px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 24px;
  min-height: 190px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    min-height: 93px;
  }
}
