.reviews {
  position: relative;
  z-index: 3;
  background-color: $basic_white;
  margin-top: -50px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 100px;
    margin-top: -40px;
    padding-bottom: 38px;
  }
}

.reviews__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    border: 40px solid transparent;
    border-left: 277px solid $basic_white;
    border-top: 4px solid $basic_white;
    bottom: -74px;

    @media (min-width: $tablet-width) {
      border-left: 615px solid #ffffff;
      border-top: 4px solid #ffffff;
      bottom: -30px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      position: absolute;
      content: "";
      width: 79px;
      top: -100px;
      height: 63px;
      background-image: url("./../../img/quotes.svg");
    }
  }
}

.reviews__item {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 30px;
}

.reviews__author {
  display: inline-block;
  color: $basic_black;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
  margin-top: 42px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author--info {
  @media (min-width: $tablet-width) {
    order: 3;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 24px;
  min-height: 190px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    min-height: 93px;
  }
}


.reviews__toggles {
  margin-bottom: 25px;
}
