.reviews {
  position: relative;
  z-index: 3;
  background-color: $basic_white;
  margin-top: -50px;

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 79px;
      top: -100px;
      height: 63px;
      background-image: url("./../../img/quotes.svg");
    }
  }
}

.reviews__item {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 30px;
}

.reviews__author {
  display: inline-block;
  color: $basic_black;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
  }
}

.reviews__author--info {
  @media (min-width: $tablet-width) {
    order: 3;
    margin-bottom: 20px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 24px;
  min-height: 190px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    min-height: 93px;
  }
}
