.contest__header.main-header {
  @media (min-width: $tablet-width) {
    min-height: 425px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    min-width: 360px;
  }
}

.contest__title {
  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: normal;
  }
}

.form {
  margin-top: -40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    margin: -100px 130px 0 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 74px;
    row-gap: 70px;
  }
}

.form__description {
  color: $dark_gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 40px 85px;
    font-size: 18px;
    order: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 95px;
    padding-bottom: 30px;
    grid-column: 1 / -1;
  }
}

.form__section {
  border: none;
  margin: 0;
  padding: 44px 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 50px 60px;
    margin: 44px 20px;
    border: 1px solid $table_background;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 44px 60px 15px 60px;
  }
}

.form__section__title {
  color: $basic_pink;
  text-align: center;
  text-transform: uppercase;
  margin: 0 25px;
  margin-bottom: 44px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $basic_white;
    padding: 20px;
    width: fit-content;
  }
}

.submit {
  padding-top: 0;
}

//порядок расположения на планшетном разрешении
@media (min-width: $tablet-width) {
  .user-data {
    order: 0;
    padding: 0;
    border: none;
  }

  .achievements {
    order: 3;
  }

  .contacts {
    order: 2;

    & label {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    & span {
      margin-left: 20px;
    }
  }

  .application {
    order: 1;
  }

  .comment {
    order: 4;
  }

  .submit {
    order: 5;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .user-data {
    & label {
      margin-bottom: 0;
    }
  }

  .contacts {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: space-between;

    & label {
      width: 46%;
    }
  }

  .achievements {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }

  .comment {
    grid-column: 1 / -1;
    padding: 44px 60px;
  }

  .submit {
    grid-column: 1 / -1;
    flex-direction: row;
  }
}

.form__label {
  display: inline-block;
  color: $basic_pink;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    & span {
      margin-right: 20px;
      margin-top: 20px;
    }
  }
}

.form__input {
  width: 100%;
  height: 59px;
  padding: 23px 20px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid $table_background;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: $dark_gray;
  }

  &:active {
    outline: 0;
    border-color: $basic_pink;
  }
}

.form__input__icon {
  position: absolute;
  width: 55px;
  height: 56px;
  padding: 20px;
  background-color: $table_background;
  right: 1px;
  top: 1px;
  border-radius: 2px;
}

.achievements,
.application {
  background-color: $light_gray;

  @media (min-width: $tablet-width) {
    background-color: $basic_white;
  }
}

.achievements__check,
.application__radio {
  color: $dark_gray;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: inherit;
}

.achievements__check {
  position: relative;
  padding: 7px;
  padding-left: 46px;
  display: block;
  margin-bottom: 10px;
}

.achievements__checkbox + label::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: $basic_white;
  border-radius: 1px;
  border: 2px solid $table_background;
  outline: 1px solid $light_gray;
  outline-offset: -1px;
  left: 0;
  top: 5px;
}

.achievements__checkbox + label:hover::before {
  border-color: $dark_gray;
}

.achievements__checkbox + label:active::before {
  border-color: $basic_pink;
}

.achievements__checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  background-image: url("./../../img/ok.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  left: 7px;
  top: 15px;
}

.application__radio {
  position: relative;
  padding: 7px;
  padding-left: 46px;
  display: block;
  margin-bottom: 10px;
}

.application__radio-button + label::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: $basic_white;
  border-radius: 50%;
  border: 2px solid $table_background;
  outline: 1px solid $light_gray;
  outline-offset: -1px;
  left: 0;
  top: 5px;
}

.application__radio-button + label:hover::before {
  border-color: $dark_gray;
}

.application__radio-button + label:active::before {
  border-color: $basic_pink;
}

.application__radio-button:checked + label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: $basic_pink;
  border-radius: 50%;
  left: 11px;
  top: 16px;
}

.form__textarea {
  min-height: 197px;
}

.form__button-submit {
  background-color: $basic_green;
  color: $basic_white;
  margin: 0 auto;
  border-radius: 1px;
  border: 2px solid $basic_green;
  margin-bottom: 46px;

  &:hover {
    background-color: $dark_green;
  }

  &:active {
    color: rgba($basic_white, 0.3);
  }

  &:disabled {
    background-color: $table_background;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 296px;
    height: 59px;
  }
}

.form__text {
  display: block;
  text-align: center;
}
