.modal {
  position: absolute;
  content: "";
  width: 100%;
  bottom: -420px;
  border-radius: 1px;
  background: $light_gray;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 460px;
    left: 0;
    right: 0;
    margin: 0 auto;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.modal--error {
  background-color: $basic_white;

  & .modal__text {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: $light_gray;

    & .modal__description {
      padding-bottom: 68px;
    }
  }
}

.modal--sucsess {
  bottom: -775px;
}

.modal__description {
  background-color: $basic_white;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0 70px;
  }
}

.modal__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: $basic_black;
  text-align: center;
  margin-top: 44px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__text {
  margin: 0;
  text-align: center;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 115px;
  }
}

.modal__button {
  margin-top: 52px;
  margin-bottom: 52px;

  &:hover {
    background-color: $dark_green;
  }

  &:active {
    color: rgba($basic_white, 0.3);
  }
}
